<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/testing">Show Profile</a>
        <a href="/testing/add">add Shipment</a>
    </nav>

    <table border="1">
        <tr>
            <td>Username: </td>
            <td>Vroze</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>blabalbal</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>first name gabung sama last name</td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>ntar di form sign up kalau sempat kebikin pake radio button</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>yah email aja wkwkkw</td>
        </tr>
        <tr>
            <td>Phone :</td>
            <td>123454566, kudu number</td>
        </tr>
        <tr>
            <td>City :</td>
            <td>pake latitude</td>
        </tr>
    </table>
</body>
</html>